<link rel="stylesheet" type="text/css" href="../../content/css/base.css"/>
<link rel="stylesheet" type="text/css" href="../../content/css/public.css"/>
<div class="header">
	<div class="tlogo fl"><h1 class="invisible">陶多喜<span>聆听.内心的声音</span></h1></div>
	<div class="tbar fr">
		<div class="fl">
			<a href="#" target="_blank"><span class="icon icon-note"></span>69</a>
			<a href="#" target="_blank"><span class="icon icon-shopcar"></span>16</a>
		</div>
		<div class="fr">
			<a href="#" class="account">结算</a> | <a href="#" class="loginout">登出</a>
		</div>
		<!--
		<div class="fr">
			<a href="#" class="account">登陆</a> | <a href="#" class="loginout">注册</a>
		</div>
		-->
	</div>
</div>